@use "../../lib/functions/_index" as *;
@use "../../lib/mixins/_index" as *;

.c-form {
  @include rem("pt", 40, 30);
  @include rem("pl", 40);
  @include rem("pr", 40);
  @include rem("pb", 60, 60);
  background: #fff;

  &__item {
    @include rem("pt", 30, 20);
    @include rem("pl", 20, 20);
    @include rem("pr", 20, 20);
    @include rem("pb", 40, 20);
    border-bottom: 1px solid palette("border");

    &:first-of-type {
      border-top: 1px solid palette("border");
    }
  }

  &__hdg {
    @include rem("mb", 5, 5);
    @include font(14, 14);
    font-weight: bold;
  }

  &__btn {
    @include rem("mt", 40, 30);
    @include rem("pl", null, 20);
    @include rem("pr", null, 20);
    text-align: center;
  }

  @include media(md) {
    border-radius: 8px;
  }
}
