@use "../../lib/functions/_index" as *;
@use "../../lib/mixins/_index" as *;

%visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
}

.c-radioGroup {
  .c-radio {
    &:not(:first-of-type) {
      @include rem("ml", 40, null);
    }

    &:not(:first-of-type) {
      @include rem("mt", null, 15);
    }
  }

  @include media(md) {
    display: flex;
  }
}

.c-radio {
  [type="radio"] {
    @extend %visuallyHidden;

    &:focus {
      + label::before {
        outline: 1px solid palette("blue");
      }
    }

    &:checked {
      + label {
        &::before {
          border: 1px solid palette("blue");
        }

        &::after {
          background: palette("blue");
        }
      }
    }
  }

  label {
    position: relative;
    @include rem("pl", 30, 30);

    &::before,
    &::after {
      position: absolute;
      top: 50%;
      content: "";
      border-radius: 50%;
      transform: translateY(-50%);
    }

    &::before {
      left: 0;
      width: 20px;
      height: 20px;
      border: 1px solid #80899c;
      transition: border-color 0.1s;
    }

    &::after {
      left: 5px;
      width: 10px;
      height: 10px;
      transition: background-color 0.1s;
    }
  }
}
