block vars

doctype html
html(lang="ja")
  head
    include includes/_head.pug
  body
    .l-root
      include includes/_header.pug
      main.l-main
        block content
      include includes/_footer.pug
